#advancedSearchModal h5#modalHeaderTitle {
  position: relative;
}

#advancedSearchModal button.close {
  position: relative;
}

#advancedSearchModal div#advancedSearchModalDialog {
  color: #fff;
}

#advancedSearchModal div#advancedSearchModalContent {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: transparent;
  position: relative;
  opacity: 1;
}

#advancedSearchModal div#advancedSearchModalContent:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(to right, #00abad 0%, #ab00ad 100%);
  background-image: -moz-linear-gradient(to right, #00abad 0%, #ab00ad 100%);
  background-image: -o-linear-gradient(to right, #00abad 0%, #ab00ad 100%);
  background-image: linear-gradient(to right, #00abad 0%, #ab00ad 100%);
  opacity: 0.9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#advancedSearchModal #modalCancelButton {
  border-radius: 50px;
  background: #d647d8;
}

#advancedSearchModal #modalCancelButton:hover {
  color: #fff;
}

#advancedSearchModal #modalSearchButton {
  border-radius: 50px;
  background: #3ab9eb;
}

#advancedSearchModal #modalSearchButton:hover {
  color: #fff;
}

#advancedSearchModal .buttonColorizer {
  background: transparent;
  border-radius: 50px;
  border: 1px solid white;
}

#advancedSearchModal #genreSelectContainer .multiselect-container {
  width: 200px;
}
