#allBooksMainContainer {
  /* margin-top: 100px; */
  display: grid;
  grid-template-columns: 20% 3% 77%;
  margin-bottom: 15px;
}

@media screen and (max-width: 599px) {
  #allBooksMainContainer {
    margin-bottom: 25px;
  }
}

#sideFilterContainer {
  background: white;
  border-bottom-left-radius: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#blankPaddingAllBooks {
  background: transparent;
}

#booksContainer {
  background: white;
  border-bottom-right-radius: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#booksCardDeck {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.addToWishlistHeartIconLink {
  position: absolute;
  align-items: center;
  border-radius: 50%;
  left: 85%;
  top: 85%;
  z-index: 1;
  width: 25px;
  height: 25px;
  background: #777676;
  opacity: 0.5;
}

.addToWishlistHeartIcon {
  color: white;
}

@media screen and (max-width: 900px) {
  #allBooksMainContainer {
    grid-template-columns: 30% 3% 67%;
  }
}

@media screen and (max-width: 700px) {
  #allBooksMainContainer {
    grid-template-columns: 40% 3% 57%;
  }
}

.classif {
  margin: 8px 0 8px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

#sortBooks::-ms-expand {
  display: none;
}
#sortBooks {
  width: 190px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

#allBooksUpperButtons {
  margin-top: 100px;
  max-height: 70px;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  margin-bottom: 15px;
}
@media screen and (max-width: 492px) {
  #allBooksUpperButtons {
    margin-top: 220px;
  }
}
