#shoppingCart .shcartTooltip {
  position: relative;
  display: inline-block;
}

#shoppingCart .shcartTooltip .shcartTooltiptext {
  visibility: hidden;
  position: absolute;
  width: 300px;
  background: linear-gradient(to right, #3ab9eb, #d647d8);
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  top: 175%;
  left: -100%;
  margin-left: -165px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
}

#shoppingCart .shcartTooltip .shcartTooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 68%;
  height: 0;
  width: 0;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #a66ade transparent;
}

@media screen and (max-width: 991px) {
  #shoppingCart .shcartTooltip .shcartTooltiptext {
    margin-left: 0px;
    top: -50px;
    left: 200%;
  }

  #shoppingCart .shcartTooltip .shcartTooltiptext::after {
    bottom: 0%;
    margin-left: -5px;
    content: "";
    position: absolute;
    top: 55px;
    left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #3db7ea transparent;
    transform: rotate(270deg);
  }
}

/* #shoppingCart .shcartTooltip:hover .shcartTooltiptext {
  visibility: visible;
  opacity: 1;
} */

a#shoppingCart.nav-link.waves-effect.waves-light {
  overflow: initial;
}

.shopping-cart-total {
  float: right;
}

.shopping-cart .badge {
  background-color: #d647d8;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 4px 0px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart-total {
  width: 195px;
}

.shopping-cart-header {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
}

ul.shopping-cart-items {
  list-style: none;
  padding: 15px 0px 15px 0px;
  float: left;
}

ul.shopping-cart-items li {
  padding: 5px 0px 5px 0px;
}

.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
  width: 70px;
  height: 80px;
  border-radius: 5px;
}

.shopping-cart .shopping-cart-items .item-price {
  color: #fff;
  margin-right: 8px;
  padding-bottom: 5px;
}

.shopping-cart .shopping-cart-items li span.item-quantity {
  color: #abb0be;
  padding-bottom: 5px;
  display: inline-block;
}

.shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 5px;
  font-size: 16px;
  padding-bottom: 5px;
}

/* .clearfix:after {
  content: "";
  display: table;
  clear: both;
  width: 250px;
} */

.bookDeleteTooltip {
  color: #dc3545;
}

.bookDeleteTooltip:hover {
  font-weight: bold;
}

.addQuan {
  color: #fff;
}

.remQuan {
  color: #fff;
  margin-right: 5px;
}

.addQuan:hover {
  font-weight: bold;
  color: #3ab9eb;
}

.remQuan:hover {
  font-weight: bold;
  color: #dc3545;
}

#shcartCheckout {
  width: 200px;
  background: linear-gradient(to left, #3ab9eb, #d647d8);
}

#shcartCheckout:hover {
  color: #fff;
}
