#shoppingCart .myTooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

#shoppingCart .myTooltip .myTooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 135%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

#shoppingCart .myTooltip .myTooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 41%;
  height: 0;
  width: 0;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

#shoppingCart .myTooltip:hover .myTooltiptext {
  visibility: visible;
  opacity: 1;
}

a#shoppingCart.nav-link.waves-effect.waves-light {
  overflow: initial;
}
