#mainBody {
  margin-top: 100px;
}

footer {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

footer.page-footer {
  background: linear-gradient(to right, #3ab9eb, #d647d8);
  background: -webkit-linear-gradient(to right, #3ab9eb, #d647d8);
  background: -moz-linear-gradient(to right, #3ab9eb, #d647d8);
  background: -o-linear-gradient(to right, #3ab9eb, #d647d8);
}

.myTooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.myTooltip .myTooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 135%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.myTooltip .myTooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 80%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.myTooltip:hover .myTooltiptext {
  visibility: visible;
  opacity: 1;
}
